{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    font-family: 'Fredoka One', cursive;
    font-family: 'Ubuntu', sans-serif;
}
a
{
    text-decoration: none;
}

/*-------MENU DE NAVEGACION-------*/

.navbar
{
    display: flex;
    cursor: pointer;
    height: 85px;
    border-bottom: 0.5px solid #343533;
}
.navbar-expand-lg .navbarcollapse
{
    display: flex;
}
.navbar-colapse
{
    align-items: center;
    width: 100%;
}
.bg-color
{
    background-color: white;
}

#navbarNavDropdown
{
    font-size: 16px;
    font-weight: bold;
}


/*---CARRUSEL----*/

.carousel-inner img
    {
      width: 100%;
      height: 100%;
    }


/*PORTADA PRODUCTOS DEL INICIO*/

.grid-container
{
    display: grid;
    grid-gap:10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 100px;
}
.col
{
    margin:10px;
    width: 200%;
    height: auto;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
.col img :hover
{
    -webkit-transform: scale(1,1);
    -webkit-transition: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}

img
{
    width: 100%;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
img:hover
{
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.1,1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 100ms;
}
h1
{
    font-size: 55px;
    text-align: center;
}
p
{
    font-size: 25px;
}

/*---------BOTON FLOTANTE WHATSAPP--------*/
.float
{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}
.my-float
{
	margin-top:16px;
}
/*----------GALERIA PRODUCTOS-----------------------------*/
.container-productos
{
    margin: auto;
    width: 100%;
}
#galeria .col-lg-4
{
    padding: 70px;   
}

#galeria img 
{
    width: 100%;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

#galeria img:hover
{
    -webkit-transform: scale(1.1,1.1);
    -webkit-transition: ease-out;
    -webkit-transition-duration: 100ms;
    -moz-transform: scale(1.1,1.1);
    -moz-transition-timing-function:ease-out;
    -moz-transition-duration: 100ms;
}

#galeria h5
{
    font-size: 50px;
    color: #000;
    justify-content: center;
    margin-top: 180px;
    margin-bottom:15px;
    text-align: center;
}
#galeria h3 /*PRECIOS*/
{
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 2px;
}

/*-----------FORMULARIO CONTACTO----------------------*/

.container{
    margin-top: 200px;
    margin-bottom: 150px;
}

.input, textarea 
{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}
.textarea
{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

h2{
    margin-bottom: 10px;
    margin-top: 10px;
}

/*-----------FOOTER-------------------------*/
footer
{
    background: #ccc;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer
{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #9e9797 ;
}

.content-footer{
    text-align: center;
}

.content-footer h4{
    color: #FFF;
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom: 1px solid #FFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-footer a{
    color: black;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/*-----------Seccion FAQ------------*/
.card-title
{
margin-top:30px;
padding-bottom: 20px;
}
.card{
    margin-top: 80px;
    padding: 30px;
}


